*

!.gitignore
!main.py
!structure.txt

!inference_service/
!inference_service/**
!inference_service/app/
!inference_service/app/**
!inference_service/models/
!inference_service/models/*.pt
!inference_service/models/*.onnx
!inference_service/requirement.txt

!monitoring/
!monitoring/prometheus.yml

!kafka/
!kafka/docker-compose.yml
!kafka/producer.py

!models/
!models/*.pt
!models/*.onnx

venv/
__pycache__/
*.pyc
*.pyo

training/
runs/

dataset.zip
*.mp4
*.avi
*.mov

monitoring/prometheus/

kafka/data/
kafka/logs/
kafka/volumes/

yolov8*.pt
yolo11n.pt

.DS_Store
Thumbs.db
.vscode/
.idea/
